<div class="container">
  <div class="messageDetail mb-5">
    <div *ngIf="message">
      <div class="row justify-content-md-center">
        <div class="messagesContentt col-md-8">
          <div class="row mt-5">
            <div class="marginTop_15">
              <h2>{{message.content}}</h2>
            </div>
          </div>
          <div class="row mt-5">
              Id: {{message.id}} <hr/>
              Author: {{message.author}} <hr/>
              Date: {{message.date}} <hr/>
          </div>
          <div class="row btnBack mt-5 mb-5">
            <button class="btn btn-outline-secondary" (click)="goBack()">Back to list</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
