//.messagesComponent {
//  background-color: #F5EFED;
//}
.marginTop_15 {
  margin-top: 15%;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#868E96;
  height: 1px;
  margin-left: 0px;
}

.messageInfo {
  color: #868E96;
  font-size: 0.875em;
}

.messageContent {
  color: #21160E;
}
