<div class="container">
  <div class="messagesComponent">
    <section *ngIf="isLoading">
      Loading messages...
    </section>
    <div class="row justify-content-md-center">
      <div class="inputMessage col-md-8 marginTop_15">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Profile name">
            <textarea class="form-control" id="messageInputTextarea" rows="4" placeholder="Write something"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary float-right mr-4">Post</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="messagesList col-md-8">
        <div *ngFor="let message of messages">
          <div class="row ml-sm-3 mt-4">
            <div class="media-left">
              <a href="#" [routerLink]="['/messages', message.id]">
              </a>
            </div>
            <div class="media-body">
              <div class="row messageContent" [routerLink]="['/messages', message.id]">
                {{message.content}}
              </div>
              <div class="row messageInfo">
                via  {{ message.author }} |
                {{ convertDate(message.date) }}<hr/>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--<ul>-->
      <!--<li *ngFor="let message of messages">-->
        <!--<a href="#" [routerLink]="['/messages', message.id]">-->
          <!--{{message.content}}-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
    </div>
  </div>
</div>
